.btn-acordeon {
  font-family: Ubuntu;
  color: black !important;
  font-weight: bold;
}

.acordeon{
  width: 80%;
}

.header-accordeon{
  background: white;
  border: none !important;
}

.card-acordeon{
  border: none;
}
.card-acordeon-activo{
  background:#F9FAFB !important;
  border: none;
}

.card-agotado {
  opacity: 0.6;              /* tarjeta apagada */
  pointer-events: none;      /* desactiva clics */
  position: relative;        /* para posicionar overlay */
}

.overlay-agotado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  font-weight: bold;
  color: #ee0461;           /* rosa */
  text-transform: uppercase;
}

.select-wrapper {
  position: relative;
  display: inline-block; /* se ajusta al tamaño del select */
}

.custom-icon {
  position: absolute;
  top: 34%;
  right: 25px;   /* dentro del select */
  transform: translateY(-50%);
  pointer-events: none;
  color: #555;
  z-index: 1000;
}




