<app-header></app-header>

<section class="body-login pt-4 pb-4  animated fadeIn fast" id="background-home">
	<div class="container position-relative">
		<div class="content-body row d-flex flex-row flex-wrap justify-content-between align-content-center m-0 p-0">
			

			<div class="card-education p-3 m-0 d-flex flex-column justify-content-center">
				<div class="card-body card-body-education d-flex flex-column justify-content-center pl-0 pr-0">
					<h1 class="card-title card-title-education mb-5">Confa. Contigo, Con todo</h1>
					<p class="card-text">
						<!-- Queremos que accedas de manera ágil y oportuna a nuestros servicios. -->
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
 <app-footer></app-footer>